
@{
    ViewBag.Title = "NotFound";
}



<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1><span class="fa fa-star checked"></span></h1>
        </div>
        <br />
        <h2>WHAT WE DO</h2>

        <p><strong>Together we create life-changing wishes for children with critical illnesses.</strong></p>

        <p>Whether it's starring in their own films, walking with dinosaurs, going on an amazing holiday, meeting a celebrity hero, or having a bedroom makeover; our wishes are varied, personal and life-changing. We go above and beyond to grant amazing wishes to very amazing children; their One True Wish made a reality at a time when they need it most. Because a child's life shouldn't be about illness, hospitals and diagnosis - it should be about wonder, joy and hope.</p>

        <p>We've seen the effects a wish can have on a seriously ill child: from creating incredible memories, building confidence and bringing happiness, to providing respite from the daily struggles that come with a critical illness. We know what wishes can give, and this is the driving force behind why we continue to do what we do.</p><p>But we can't make these life-changing experiences happen without the generosity of people like you.</p>
        
        <p><a class="btn" href="@Url.Action("Index" , "Wishes")">See how you can help</a></p>

    </div>

</div>
<img class="img-responsive post-image" src="https://assets.make-a-wish.org.uk/live/media/filer_public_thumbnails/filer_public/ac/37/ac37b9f1-4555-4376-86f2-f8fe8a20654e/max_williams_meet_spiderman_and_captain_america_pro_96.jpg__2360x1324_q50_progressive_subsampling-2_upscale.jpg" alt="Max Williams Meet Spiderman and Captain America Pro (96).jpg">




