
@{
    ViewBag.Title = "NotFound";
}



<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Create</h1>
        </div>
        <h2>life-changing wishes For children with critical illnesses</h2>
        <p>Because a child’s life shouldn’t be about illness, hospitals and diagnosis – it should be about wonder, joy and hope.</p>
        <a href="@Url.Action("Create","FundRaisers")">Become A Fundraiser</a>
    </div>
</div>